@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 240 10% 98%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 247 49% 44%;
    --primary-foreground: 0 0% 98%;
    --secondary: 187 45% 53%;
    --secondary-foreground: 240 10% 3.9%;
    --muted: 240 5% 90%;
    --muted-foreground: 240 5% 45.1%;
    --accent: 45 88% 70%;
    --accent-foreground: 240 10% 3.9%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 247 49% 44%;
    --radius: 0.75rem;
  }
  .dark {
    --background: 240 10% 6%;
    --foreground: 240 5% 95%;
    --card: 240 10% 8%;
    --card-foreground: 240 5% 95%;
    --popover: 240 10% 8%;
    --popover-foreground: 240 5% 95%;
    --primary: 247 49% 55%;
    --primary-foreground: 0 0% 98%;
    --secondary: 187 45% 40%;
    --secondary-foreground: 240 5% 95%;
    --muted: 240 10% 15%;
    --muted-foreground: 240 5% 65%;
    --accent: 187 45% 53%;
    --accent-foreground: 240 10% 6%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 10% 15%;
    --input: 240 10% 15%;
    --ring: 247 49% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground font-body antialiased selection:bg-primary/30;
    background-color: #1A1A20;
    color: #F8F8F8;
  }
  h1, h2, h3, h4, h5, h6 {
    @apply font-headline tracking-tight;
  }
}

.quiz-transition-enter {
  opacity: 0;
  transform: translateY(20px);
}
.quiz-transition-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 500ms, transform 500ms;
}
.quiz-transition-exit {
  opacity: 1;
  transform: translateY(0);
}
.quiz-transition-exit-active {
  opacity: 0;
  transform: translateY(-20px);
  transition: opacity 500ms, transform 500ms;
}

::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: #4839A8;
  border-radius: 10px;
}
